@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}
body .menu {
  position: fixed;
  right: -140px;
  top: -140px;
  height: 160px;
  width: 160px;
  transform: rotate(-45deg) translate(-50%, 0);
  background-color: white;
  box-shadow: 0 0 7px black;
}
body header {
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 149, 214);
}
body header img {
  width: 300px;
}
body .service-box {
  background-color: rgb(99, 149, 214);
  height: -moz-max-content;
  height: max-content;
  padding: 40px 0;
}
body .service-box .service {
  width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
body .service-box .service p {
  padding: 150px 0;
  font-weight: 300;
  color: white;
  font-size: 25px;
  width: 540px;
}
body .service-box .service p strong {
  font-size: 70px;
}
body .service-box .service img {
  width: 500px;
}
body .nav-container {
  background-color: lightgrey;
}
body .nav-container .nav {
  margin: auto;
  width: 1080px;
}
body .nav-container .nav ul {
  list-style: none;
}
body .nav-container .nav ul a {
  font-weight: bolder;
  color: black;
  text-decoration: none;
}
body .nav-container .nav ul li {
  padding: 5px;
  display: inline-block;
}
body main {
  margin: auto;
}
body main .desc p {
  text-align: center;
  word-spacing: 4px;
  font-size: 22px;
  padding: 40px 0;
  margin: auto;
  width: 820px;
  color: rgb(70, 70, 70);
}
body main .container section {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: auto;
  width: 1080px;
}
body main .container section img {
  width: 540px;
}
body main .container section img:last-child {
  width: 580px;
}
body main .container section .text-card-container {
  position: relative;
}
body main .container section .text-card-container .text-card {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
}
body main .container section .text-card-container .text-card a {
  text-decoration: none;
  color: rgb(74, 74, 74);
}
body main .container section .text-card-container .text-card a p {
  letter-spacing: 2px;
  font-size: 48px;
  font-weight: 800;
}
body main .container section .text-card-container .text-card a p.org {
  color: rgb(238, 129, 49);
}
body main .container section .text-card-container .text-card .icon-list {
  margin: 10px 0;
  list-style: none;
}
body main .container section .text-card-container .text-card .icon-list li {
  margin: 0 10px;
  vertical-align: middle;
  display: inline-block;
}
body main .container section .text-card-container .text-card .icon-list li img {
  width: 75px;
}
body main .container section .text-card-container .text-card .service-list {
  margin: 10px 0;
  list-style: none;
}
body main .container section .text-card-container .text-card .service-list li {
  margin-top: 8px;
}
body main .container section .text-card-container .text-card .service-list li a {
  vertical-align: super;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(70, 70, 70);
  transition: color 0.3s ease-in;
}
body main .container section .text-card-container .text-card .service-list li a:hover {
  color: black;
}
body main .container section .text-card-container .text-card .service-list li a span {
  vertical-align: sub;
  font-weight: 400;
  font-size: 30px;
  color: rgb(238, 129, 49);
}
body main .container .btn {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border: 2px solid orange;
  border-radius: 5px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */