.idea
.vscode
vendor
basics/task1-6/creds.php
basics/task7/innoraft-php.code-workspace
.DS_Store
basics/task7/css/*.css.map
advanced/css/*.map
advanced/task1/css/style.css.map
advanced/task1/creds.php
basics/task7/creds.php
